body {
    color:black;
    background-color:white;
    font-family:fantasy;
}
a {
    color:black;
    text-decoration:none;
}
button {
    color:black;
    background-color:lightseagreen;
    font-size:40px;
    border-radius:10px;
}
button:hover {
    background-color:white;
}
fieldset {
    float:left;
    background-color:lightseagreen;
}
legend {
    float:left;
    text-align:center;
    width:200px;
    height:150px;
}

/* Единичные */
[class="1"] {
    margin-left:45px;
    margin-top:100px;
}
[class="2"] {
    float:right;
    margin-right:25px;
}
[class="3"] {
    float:left;
    margin-left:25px;
}
[class="4"] {
    float:right;
    margin-right:200px;
}

/* Фоновые */
[class="1b"] {
    background-color:lightgray;
}
[class="2b"] {
    background-color:lightgray;
}
[class="3b"] {
    background-color:lightgray;
}

/* Классические */
.title {
    float:left;
}
.center {
    text-align:center;
}
.size {
    font-size:30px;
}
.tesis {
    color:red;
    font-family:Monospace;
}
.whitespace {
    margin-left:15px;
}
.button {
    margin-left:400px;
    margin-top:70px;
}
.btn:hover {
    transition:all 1s ease-in-out;
    border-radius:20px;
}